<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form id="dataeditprdc" action="#" th:object="${prdcmodeldepan}" method="post">
		
			<table>
				<tr>
					<td class="c1">Id:</td>
					<td class="c2"><input type="text" th:field="*{idproduct}" readonly="readonly" /></td>
			 	</tr>
			 	<tr>
					<td>&nbsp; </td>
					<td>&nbsp; </td>
				</tr>
				<tr>
					<td class="c1">Product Nama:</td>
					<td class="c2" ><input class="i1" type="text" th:field="*{nama}" name="nama"/></td>
				</tr>
				<tr>
					<td>&nbsp; </td>
					<td>&nbsp; </td>
				</tr>
				<tr>
					<td class="c1">Product Brand:</td>
					<td class="c2"><input class="i1" type="text" th:field="*{brand}" name="brand" /></td>
				</tr>
				<tr>
					<td>&nbsp; </td>
					<td>&nbsp; </td>
				</tr>
					<tr>
					<td class="c1">Supplier MadeIn:</td>
					<td class="c2"><input class="i1" type="text" name="madein" th:field="*{madein}" /></td>
				</tr>
				<tr>
					<td>&nbsp; </td>
					<td>&nbsp; </td>
				</tr>
				</tr>
					<tr>
					<td class="c1">Supplier Price:</td>
					<td class="c2"><input class="i1" type="text" name="price" th:field="*{price}" /></td>
				</tr>
				<tr>
					<td>&nbsp; </td>
					<td>&nbsp; </td>
				</tr>
				<tr>
					<td class="c1">Supplier:</td>
					<td class="c2">
						<select name="idsupplier" th:field="*{idsupplier}">
							<option th:each="splr : ${listSupplier}" th:value="${splr.idsupplier}" th:text="${splr.nama}" />
						</select>
					</td>
				</tr>
			
				<tr>
					<td colspan="2"><button type="submit" id="form-splr-add" class="btn btn-success">Save</button> </td>
					
				</tr>
			</table>
		</form>
</body>

	<script>
	$('#dataeditprdc').submit(function() {
		formData = $('#dataeditprdc').serialize();
		$.ajax({
			url : '/saveprdc',
			type : 'POST',
			data : formData,
			success : function(result) {
				loadprdclist();
					  alert("Data telah di UBAH.");
			}
		});
		return false;
	});
	</script>
</html>